<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good Afternoon, <%= @user.firstname %></h1>
    <p>
      Your account has been terminated.
      If you have any questions please contact us at our website.<br>
    </p>
    <p>Thank you for being a part of our network and we wish you all the best.</p>
  </body>
</html>